* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@media (max-width: 1100px){
      .main__container {
        width:100%;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: none;
        padding-top: 5px;
      }
      .header {
        font-size: 1.2vw;
        text-align: center;
      }
      .navbar__item {
        margin-right:1%;
      }
      .navbar__logo img {
        width: 90%;
      }
      .navbar__contacts span {
        font-size: 1.7vw;
      }
      .navbar__contacts a {
        font-size: 1.7vw;
      }
      .navbar {
       max-width: 100%;
       justify-content: space-between;
       margin: none;
      }
      .main__buttonblue {
        margin-top: 0px;
      }
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}
.header {
  max-width: 100%;
  background-color: #635854;
  padding: 12px 0px;
  border-bottom: 4px solid #3596F5;
  text-align: center;
}
.navbar {
  width: 1280px;/*по гриду определила рабочую область*/
  margin: auto;/*выравнила всё*/
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.navbar__item {
  display: flex;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0; /*отключаем отступы внешние*/
  padding: 0;/*отключили внутренние отступы*/
  list-style: none;/*убрала точки, хотя их не было*/
}
.navbar__item {
  padding-right: 7%;
}
.navbar__link {
  text-decoration: none;
  color: white;
}
.navbar__contacts {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:center
}
.navbar__text {
  display: block;
  font-size: 14px;
  color:white;
  margin-bottom: 4px;
}
.navbar__phone {
  text-decoration: none;
  font-size: 17px;
  color:white;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
.main {
  /* max-height: 100%; */
  max-width: 100%;
  background-color:#E5E5E5;
}  
.main__container {
  /* max-height: 100%; */
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
  align-items:center
  
}
.main__image {
  display: flex;
  box-sizing: border-box;
}
.main__image svg {
  margin: 0.1em;
  max-width:100%;
  height: 100%;
  border:1px solid black;
}
.main__info {
  border:1px solid red;
}
.main__homeimage path {
  opacity: 0;
  cursor: pointer;
}
.main__homeimage path:hover {
  opacity: 1;
}
.main__info {/*блок счетчика, выбора этажа и синей кнопки*/
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}
.main__title {
  font-family: "Bebas Neue";
  font-size:37px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}
.main__countergroup { /*группа счетчика этажей*/
  display: flex;
  flex-direction: column;
  align-items:center;
}
.main__counter {/*сам счетчик*/
  font-family: "Bebas Neue";
  font-size: 74px;
  font-style:normal;
  font-weight: normal;
  /* margin: 25px 0px; */
}
.main__buttondown {/*нижняя кнопка счетчика*/
  transform:rotateX(180deg);
}
.main__counterarrowup {
  cursor: pointer;
}

.main__buttonblue {/*синяя кнопка*/
  text-align: center;
  color:white;
  background-color:#3596F5;
  padding: 16px 36px;
  border-radius: 6px;
  margin-top: 115px;
  cursor: pointer;
}
path.current-floor { /*подсветка этажа из js*/
  opacity: 1;
}
@media (max-width:500px) {
  .main__container {
    width:100%;
    height: 92.7vh;
    padding-top: 5px;
    background-color:crimson;
  }
  .main__buttonblue {
    margin-top: 0px;
  }
  .main__title {
    text-align: center;
    font-size: 1.7em;
  }
  .main__info {

  }
}